<!DOCTYPE html>
<html lang="en">
<head>
<%- include('includes/head', {title: 'Home | cravings'}) %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CraveLab</title>
</head>
<body>
  <header>
    <h1>CraveLab</h1>

    <nav>
      <a href="/">Home</a>&nbsp;|&nbsp;
      <a href="/about">About</a>&nbsp;|&nbsp;
      <a href="/cookies">Shop</a>&nbsp;|&nbsp;
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <main>
    <p>Welcome to CraveLab. </p>
    <p>We currently have 7 Bite me Cookies in stock.</p>
  </main>

  <footer>
    Made with sweet 🍪 by Cravings
  </footer>
</body>
</html>